main>.container {
    padding: 60px 15px 0;
}

body {

    background-image: url("/static/img/library.png");
    background-color: #493d2f;
    color: #4b2300;
}

.btn-dark {
    color: #ff9e27;
    background-color: #4b2300
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}