<!DOCTYPE html>
<html class="h-100" lang="pt-BR">

<head>
    <%- include('../../partials/head_bib') %>
</head>

<body class="d-flex flex-column h-100">

    <%- include('../../partials/header') %>

        <main class="flex-shrink-0">
            <div class="container">
                <%- include('../../partials/formexerc') %>
            </div>
        </main>

        <%- include ('../../partials/footer') %>

</body>

</html>