<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('../partials/head') %>
    <link href="/static/css/signin.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form data-bitwarden-watching="1" method="post" action="/login">
        <img
          class="mb-4"
          src="/static/img/logo.png"
          width="300"
          height="250"
        />
        
        <h5 class="mb-3 fw-normal">Por favor realize a autenticação.</h5>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="nome@acme.com"
            name="email"
          />
          <label for="floatingInput">E-mail</label>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Senha"
            name="password"
          />
          <label for="floatingPassword">Senha</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">
          Entrar
        </button>

        
        <p class="mb-0  text-center">Não tem conta? <a href="/register" class="text-primary fw-bold">Cadastre-se</a></p>


        <p class="mt-5 mb-3 text-muted">© Unifor - 2022</p>

      </form>
    </main>
  </body>
</html>
