<!DOCTYPE html>
<html class="h-100" lang="pt-BR">

<head>
  <%- include('../../partials/head') %>
</head>

<body class="d-flex flex-column h-100">
  
  <%- include('../../partials/header') %>

  <main class="flex-shrink-0">
    <div class="container">
      
    </div>
  </main>

  <%- include ('../../partials/footer') %>

</body>
</html>